snippet f
`date +%Y/%m/%d`
  Food  INR $1
	Savings
$0
endsnippet


snippet o
`date +%Y/%m/%d`
  Other  INR $1
	Savings
$0
endsnippet

snippet c
`date +%Y/%m/%d`
  Comms  INR $1
	Savings
$0
endsnippet

snippet b
`date +%Y/%m/%d`
  Books  INR $1
	Savings
$0
endsnippet

snippet t
`date +%Y/%m/%d`
	Travel  INR $1
	Savings
$0
endsnippet

snippet k
`date +%Y/%m/%d`
	Food:Kaaki  INR $1
	Savings
$0
endsnippet
